name: Docker Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-images:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build Backend
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        push: false
        tags: ascend-backend:latest
        
    - name: Build Frontend
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: false
        tags: ascend-frontend:latest
